@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for ingredient lists */
.thin-scroll::-webkit-scrollbar {
  width: 4px;
}
.thin-scroll::-webkit-scrollbar-thumb {
  background-color: #f97316;
  border-radius: 2px;
}
